.events-archive {
    background: linear-gradient(to right, 
        rgba($color-orange, .4), 
        rgba($color-orange, .4)), 
        url(./assets/img/events.png);
    background-repeat: repeat;
    padding: 10rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 10rem 5rem;  
    }

    &__heading {
        font-size: 5rem;
        font-family: $font-heading;
        text-align: center;
        color: $color-orange;
        padding: 5rem;
        width: 80%;
        margin: 0 auto;
        background: rgba(0,0,0, .7);
        box-shadow: 1rem 1rem 2rem rgba(0,0,0, .5);

        @media only screen and (max-width: $bp-medium-small) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 3rem;
            margin-bottom: 7rem;
            padding: 3rem;
        }
    }

    &__card-grid {
        display: grid;
        grid-template-columns: repeat(3, 32rem);
        grid-auto-rows: 45rem;
        justify-content: space-around;
        grid-gap: 10rem 5rem;

        @media only screen and (max-width: $bp-larger) {
            grid-gap: 5rem;
        }

        @media only screen and (max-width: $bp-medium-large) {
            grid-template-columns: repeat(2, 32rem);  
        }

        @media only screen and (max-width: $bp-medium-small) {
            grid-template-columns: repeat(2, 28rem);
            grid-auto-rows: 40rem;  
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns:  28rem;
        }
    }
}

.flip-card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    &__side {
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        background: rgba(0,0,0, .7);
        box-shadow: 1rem 1rem 2rem rgba(0,0,0, .5);

        @media only screen and (max-width: $bp-medium-small) {
            height: 40rem; 
        }
        
        &--front {
            display: flex;
            flex-direction: column;
            
            &:link,
            &:visited {
                text-decoration: none;
            }
        }

        &--back {     
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 4rem;
            
            // Disable hover at smaller viewports (<1000px) for touch devices.
            @media only screen and (max-width: $bp-medium-large) {
                display: none;  
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);

        // Disable hover at smaller viewports (<1000px) for touch devices. 
        @media only screen and (max-width: $bp-medium-large) {
            transform: none;  
        }
    }

    &:hover &__side--back {
        transform: rotateY(0);  
    }

    // Front of Card Styles
    &__imgBox-front {
        height: 22rem;

        @media only screen and (max-width: $bp-medium-small) {
            height: 18rem; 
        }
    }

    &__img-front {
        width: 100%;
        height: 100%;
    }

    &__content {
        padding: 1.5rem;
    }

    &__event-date {
        font-size: 2rem;
        color: $color-brown;

        @media only screen and (max-width: $bp-medium-small) {
            font-size: 1.8rem;
        }
    }

    &__title-front {
        font-size: 2.2rem;
        color: $color-tan;
        margin: .5rem 0;

        @media only screen and (max-width: $bp-medium-small) {
            font-size: 2rem; 
        }
    }

    &__event-content {
        font-size: 1.7rem;
        color: $color-white-dark;
        margin-top: 2rem;

        @media only screen and (max-width: $bp-medium-small) {
            margin-top: 1rem;
            font-size: 1.5; 
        }
    }

    // Back of Card Styles
    &__title-back {
        background: $color-dark;
        color: $color-orange;
        font-size: 2.2rem;
        text-align: center;
        padding: 1.5rem;
    }

    &__imgBox-back {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        box-shadow: 0 1rem 1rem rgba(0,0,0, .5);
        margin: 0 auto;
        overflow: hidden;
    }

    &__img-back {
        width: 100%;
        height: 100%;
    }

    &__details {
        color: $color-white-dark;
        font-size: 3rem;
        text-align: center;
        margin: 0 auto;
        border-top: 1px solid $color-orange;
        border-bottom: 1px solid $color-orange;
        width: 70%;
        padding: .5rem;
    }

    &__btn-container {        
        text-align: center;        
    }

    &__btn {        
        &:link,
        &:visited { 
            background-color: $color-orange;
            color: $color-white-dark;
            box-shadow: 0 .5rem 1rem rgba(0,0,0, .5);          
            text-decoration: none;            
            font-size: 2rem;
            padding: 10px;        
            display: inline-block;
            transition: all .2s ease-out;

            &:last-child {
                margin-left: 3rem;
            }
        }

        &:hover,
        &:focus {
            background-color: $color-orange * .8; 
            transform: scale(1.1); 
            box-shadow: 0 1rem 1rem rgba(0,0,0, .5);        
        }
    }
}