.generic-page {
    background: linear-gradient(to right, rgba($color-white-light *.8, .9), rgba($color-white-light *.8, .7), rgba($color-white-light, .2)),
    url(./assets/img/honeycomb.png);
    padding: 10rem 20rem;

    @media only screen and (max-width: $bp-large) {
        padding: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 10rem 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 10rem 2rem;
    }

    &__title {
        margin: 5rem auto;
    }

    &__content {
        margin-top: 5rem;
    }
}