.news-article {
    background: linear-gradient(to right, 
    rgba($color-white-light *.8, .9), 
    rgba($color-white-light *.8, .7), 
    rgba($color-white-light, .2)),
    url(./assets/img/honeycomb.png);
    padding: 10rem 20rem;

    @media only screen and (max-width: $bp-large) {
        padding: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 10rem 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 10rem 2rem;
    }
    
    &__title {
        margin: 0 auto;   
    }

    &__navLinks {
        margin-top: 7rem; 
        margin-bottom: 10rem;

        @media only screen and (max-width: $bp-medium-small) {
            margin-bottom: 15rem;
        }
    }

    &__categories {
        color: $color-green;
        font-size: 1.8rem;
        text-align: right;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-smaller) {
            text-align: left;
        }

        a {
            &:link,
            &:visited {
                color: $color-dark;
                font-size: 1.8rem; 
            }

            &:hover {
                text-decoration: none;
                color: $color-orange;
            }
        }
    }

    &__feature-img,
    &__main-content {
        margin-top: 10rem;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 0;
        }
    }
    
    &__feature-img {
        float: right;
        margin-left: 3rem;
        margin-bottom: 3rem;
        box-shadow: 1rem 1rem 2rem rgba(0,0,0, .3);

        @media only screen and (max-width: $bp-larger) {
            max-width: 450px;
            max-height: 300px;
        }

        @media only screen and (max-width: $bp-medium-large) {
            max-width: 350px;
            max-height: 233px;
        }

        @media only screen and (max-width: $bp-medium) {
            float: none;
            display: block;
            margin: 5rem auto;
            max-width: 450px;
            max-height: 300px;
        }

        @media only screen and (max-width: $bp-medium-small) {
            max-width: 350px;
            max-height: 233px;
        }

        @media only screen and (max-width: $bp-small) {
            max-width: 300px;
            max-height: 200px;
        }

        @media only screen and (max-width: $bp-smaller) {
            max-width: 250px;
            max-height: 167px;
        }
    }

    &__btn-box {
        text-align: center;
    }

    &__btn {       
        &:link,
        &:visited { 
            display: inline-block;                    
            text-decoration: none;
            color: $color-orange;   
            font-size: 2.5rem;
            border-bottom: 1px solid $color-orange;
            padding: 10px;
            margin: 0 2rem;
            transition: all .1s ease;

            @media only screen and (max-width: $bp-smaller) {
                font-size: 2rem;
                padding: 5px;
            }
        }

        &:hover {
            background-color: $color-orange;
            color: $color-white-dark;
        }
    }

    &__more-from-category {
        color: $color-dark;
        font-size: 2.6rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        border-bottom: 1px solid $color-dark;
        padding: 1rem 0;

        @media only screen and (max-width: $bp-smaller) {
            font-size: 2.2rem;
        }

        a {
            color: $color-dark;

            &:hover {
                color: $color-orange;
                text-decoration: none;
            }
        }
    }

    &__related-content {
        border-bottom: 1px solid $color-dark;
        padding-bottom: 3rem;
        margin-bottom: 15rem;


        /* ---- page dots ---- */
        .flickity-page-dots {
            left: 50%;
            bottom: -15%;
            transform: translateX(-50%);
        }

        .flickity-page-dots .dot {
            width: 1.5rem;
            height: 1.5rem;
            opacity: 1;
            background: transparent;
            border: 1px solid $color-dark;
        }

        .flickity-page-dots .dot.is-selected {
            background: $color-dark;
        }

        /* ---- flickity-button ---- */
        .flickity-button {
            position: absolute;
            background: $color-dark;
            border: none;
            color: $color-green;
        }
        
        .flickity-button:hover {
            background: $color-orange;
            cursor: pointer;
        }
        
        .flickity-button:focus {
            outline: none;
            box-shadow: 0 0 0 5px #19F;
        }
        
        .flickity-button:active {
            opacity: 0.6;
        }
        
        .flickity-button:disabled {
            opacity: 0.3;
            cursor: auto;
            /* prevent disabled button from capturing pointer up event. #716 */
            pointer-events: none;
        }
        
        .flickity-button-icon {
            fill: $color-white-dark;
        }

        /* ---- previous/next buttons ---- */
        .flickity-prev-next-button {
            top: 40%;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            /* vertically center */
            transform: translateY(-40%);
        }
        
        .flickity-prev-next-button.previous { 
            left: -50px;

            @media only screen and (max-width: $bp-small) {
                left: -38px;
            }

            @media only screen and (max-width: $bp-smallest) {
                left: -10px;
            }
        }

        .flickity-prev-next-button.next {
            right: -50px;

            @media only screen and (max-width: $bp-small) {
                right: -38px;
            }

            @media only screen and (max-width: $bp-smallest) {
                right: -10px;
            }
        }

        /* right to left */
        .flickity-rtl .flickity-prev-next-button.previous {
            left: auto;
            right: 10px;
        }
        .flickity-rtl .flickity-prev-next-button.next {
            right: auto;
            left: 10px;
        }
        
        .flickity-prev-next-button .flickity-button-icon {
            position: absolute;
            left: 20%;
            top: 20%;
            width: 60%;
            height: 60%;
        }
    }
}

