.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .85);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: opacity .3s, transform .3s, visibility .3s;

  &--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &__top {
    background-color: rgba($color-white-dark * .4, .9);
    border-bottom: solid 1px $color-orange;
  }

  &__inputArea {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }

  &__icon {
    margin: 1rem;
    font-size: 5rem;
    color: $color-orange;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__search-term {
    border: none;
    padding: 3rem;
    background-color: transparent;
    font-size: 6rem;
    font-family: $font-content;
    outline: none;
    color: $color-orange;
  }

  &__close {
    font-size: 6rem;
    cursor: pointer;
    transition: all .3s;
    color: $color-orange;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    font-size: 4rem;
    color: $color-orange;
    text-align: center;
    margin-top: 5rem;
  }

  &__link-list {
    background-color: rgba($color-white-dark * .4, .9);
    list-style: none;
    width: 50%;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 3rem;

    li {
      padding: 2rem 0;
      
      &:not(:last-of-type) {
        border-bottom: 1px solid $color-dark;
      }

      a {
        font-size: 2.3rem;
        color: $color-tan;
        transition: color .2s;

        &:hover {
          color: $color-orange;
          text-decoration: none;
        }
      }

      p {
        font-size: 1.5rem;
        color: $color-dark;
        background-color: $color-orange;
        display: inline-block;
        padding: 5px;
        border-radius: 10px;
        margin-top: 1rem;
      }
    }
  }

  &__noResults {
    font-size: 5rem;
    text-align: center;
    color: $color-brown;
    margin-top: 10rem;
  }
}

.body-no-scroll {
overflow: hidden;
}