.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .85);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: opacity .3s, transform .3s, visibility .3s;

  &__top {
    background-color: rgba($color-white-dark * .4, .9);
    border-bottom: solid 1px $color-orange;
  }

  &__inputArea {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    &::placeholder {
      color: white;
    }
  }

  &__icon {
    margin: 1rem;
    font-size: 5rem;
    color: $color-orange;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  // &__section-title {
  //   margin: 3rem 0 1px 0;
  //   font-weight: 400;
  //   color: $color-tan;
  //   font-size: 2rem;
  //   padding: 1.5rem 0;
  //   border-bottom: 1px solid #CCC;
  // }

  &__close {
    font-size: 6rem;
    cursor: pointer;
    transition: all .3s;
    color: $color-orange;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__results {
    font-size: 3rem;
    color: $color-tan;
    text-align: center;
    margin-top: 5rem;
  }
}
  
.search-term {
border: none;
padding: 3rem;
background-color: transparent;
font-size: 6rem;
font-family: $font-content;
outline: none;
color: $color-orange;
}

.body-no-scroll {
overflow: hidden;
}


//======Loader Animation======
.loader {
  background: transparent;
  margin: 100px auto;
  width: 300px;
  height: 300px;
  animation: spin 10s infinite;
}
.square {
  background: $color-orange;
  border-radius: 5px;
  float: left;
  clear: right;
  margin: 9px;
  width: 81px;
  height: 81px;
  animation-name: disappear;
  animation-direction: alternate;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}
.loader .square:nth-child(1) { animation-delay: 200ms; }
.loader .square:nth-child(2) { animation-delay: 400ms; }
.loader .square:nth-child(3) { animation-delay: 600ms; }
.loader .square:nth-child(4) { animation-delay: 400ms; }
.loader .square:nth-child(5) { animation-delay: 600ms; }
.loader .square:nth-child(6) { animation-delay: 800ms; }
.loader .square:nth-child(7) { animation-delay: 600ms; }
.loader .square:nth-child(8) { animation-delay: 800ms; }
.loader .square:nth-child(9) { animation-delay: 1s; }

@keyframes disappear {
  0% {
    background-color: $color-orange;
    transform: scale(1, 1);
  }
  100% {
    background-color : $color-brown;
    transform: scale(0, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}