//=====HR's=====
.hr_style_1 {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


//=====Article End Mark=====
.end-mark {
    color: $color-orange;
    font-size: 5rem;
    text-align: center;
    margin: 3rem 0;

    @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
    }
}


//=====Generic Post Title=====
.post-title {
    font-size: 4rem;
    color: $color-brown;
    text-align: center;
    width: 70%;

    @media only screen and (max-width: $bp-medium-small) {
        width: 100%;
        font-size: 3rem;
    }
}


//=====Generic Post Content=====
.post-content {
    font-size: 2.1rem;
    line-height: 1.5;

    @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
    }

    img {
        float: right;
        margin-left: 3rem;
        margin-bottom: 3rem;
        width: 100%;
        max-width: 500px;
        max-height: 333px;
        border-radius: 2px;
        box-shadow: 1rem 1rem 2rem rgba(0,0,0, .3);

        @media only screen and (max-width: $bp-medium-large) {
            max-width: 350px;
            max-height: 233px;  
        }

        @media only screen and (max-width: $bp-medium) {
            float: none;
            display: block;
            margin: 0 auto;
            margin-bottom: 3rem;
        }

        @media only screen and (max-width: $bp-smaller) {
            max-width: 300px;
            max-height: 200px;
        }
    }

    h2,h3,h4,h5,h6 {
        color: $color-tan;
        background: $color-dark;
        padding: 0 1.5rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: inline-block;
        border-radius: 2px;
    }

    ul {
        list-style: none;

        li {
            margin: 1.2rem;
        }
     
        li:before {
            content: "\00bb";
            color: $color-orange;
            margin-right: 1.5rem;
            background-color: $color-dark;
            padding: 0 7px 3px 7px;
            border-radius: 50%;
        }
    }
}